{{ define "home" }}
    {{ template "header" . }}
        <main role="main">
            <section class="jumbotron text-center mb-0">
                <div class="container">
                    <h1 class="jumbotron-heading">
                        One-stop for Hipster Fashion &amp; Style Online
                    </h1>
                    <p class="lead text-muted">
                        Tired of mainstream fashion ideas, popular trends and
                        societal norms? This line of lifestyle products will help
                        you catch up with the hipster trend and express your
                        personal style. Start shopping hip and vintage items now!
                    </p>
                </div>
            </section>
            <div class="py-5 bg-light">
                <div class="container">
                    <p>Hello</p>
                </div>
            </div>
        </main>
    {{ template "footer" . }}
{{ end }}